footer{
    background-color: rgb(1, 1, 32);
    margin-top: 50px;
    padding-top: 10px;
}
h1,h2{
    color: beige;
}
p{
    color:beige;
}
.img {
    border-radius: 40%;
}
.intro{
    background-image: url("images/code.jpg");
    background-size: cover;

}
.container{
    background-color: black;
}
.blue{
    color:cadetblue;
    font-weight: bolder;
    font-style: italic;
}
.grey{
    color: dimgray;
    font-weight: bold;
}
.back:hover{
   background: darkcyan;
}
.icon{
    display: flex;
    justify-content:space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}
.link{
    color:beige;
    text-decoration: none;
    display: flex;
    justify-content: center;
}