img{
    width: 200px;
    height: auto;
    border-radius: 40%;
    display: flex;
    justify-content: left;
    margin: 30px 10px ;
}
h1,h2{
    color: beige;
}
.intro{
    background-image: url("images/code.jpg");
    background-size: contain;
}
.container{
    background-color: black;
}